# Лабораторная №2

# виртуальное окружение Python (не нужно в Git)
lab02/.venv/
# файлы с результатами (JSON), создаются автоматически         
lab02/data/
# лог ошибок скрипта           
lab02/error.log
# файл с переменными окружения и API-ключом       
lab02/.env            

# Общие исключения

# кэшированные файлы Python
**/__pycache__/
# системные файлы macOS (не нужны в репозитории)       
.DS_Store             

# Лабораторная №3

# виртуальное окружение Python
lab03/.venv/
# лог ошибок (создаётся автоматически)          
lab03/error.log
# файл окружения с ключом API       
lab03/.env            
